[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
myfitnesspal-to-sqlite = "*"
postgres = "*"
customtkinter = "*"
pywifi = "*"

[dev-packages]

[requires]
python_version = "3.11"
